version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cover-air-app
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    networks:
      - cover-air-network

networks:
  cover-air-network:
    driver: bridge
