version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: udmpay-app
    ports:
      - "80:80"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    networks:
      - udmpay-network

networks:
  udmpay-network:
    driver: bridge

